<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @request.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @request.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.request_date %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
